/* منوی ثابت بالا */
.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(6px);
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  z-index: 999;
}

.main-header nav {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.main-header .logo {
  font-weight: bold;
  color: #0b74de;
  text-decoration: none;
  font-size: 1.2rem;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  margin-left: 20px;
  transition: color 0.2s;
}

.nav-links a:hover {
  color: #0b74de;
}

/* برای اینکه محتوا زیر منو پنهان نشه */
body {
  padding-top: 70px;
}



body {
font-family: "Tahoma", sans-serif;
direction: rtl;
